In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
fc = pd.read_csv('food_consumption.csv')

In [3]:
fc.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96